name: Build verification on pull request

on:
  pull_request:
    branches: [ main ]

jobs:
  build-tasks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Npm Install
        run: |
          npm ci
      - name: eslint using npm run eslint
        run: |
          npm run lint
      - name: building build
        run: |
          npm run build
      - name: Unit tests with coverage
        run: |
          npm run cover:unit
